<div class="row">
  
  <div class="col-md-3" *ngFor="let movie of movies">
    <div class="card">
      <img class="card-img-top" src={{movie.Poster}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{movie.Title}}</h5>
        <p class="card-text"><small class="text-muted">{{movie.Year}}, {{movie.Genre}}</small></p>
        <a [routerLink]="[ '/movieDetalhe', movie.imdbID ]" class="card-link">Detalhes</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <button (click)="buscarApi()">
      <h2>+</h2>
    </button>
  </div>

</div>

